@model IEnumerable<ClientManager.Models.OutwardData>

@{
    ViewBag.Title = "Outward";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var currentUser = (ClientManager.Models.UserDetails)Session["UserDetails"];
}
<style>
    table tr td:first-child {
        white-space: nowrap;
    }

    th {
        white-space: nowrap;
    }
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Outwards</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Stocks</a></li>
                        <li class="breadcrumb-item"><a href="#">Outward</a></li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-4 col-sm-8">
                                    <h3 class="card-title">Outwards</h3>
                                </div>
                                <div class="col-4 col-sm-2">
                                </div>
                                @*<div class="col-4 col-sm-2">
                                        <button type="button" style="float:right" class="btn btn-block btn-primary btn-sm " onclick="javascript:fnToggleAdvSearch('1')"><i class="fa fa-search"></i> Adv. Search</button>
                                    </div>*@
                                @if (currentUser.UserRoles.Any(wh => wh.RoleName == "Store Admin"))
                                {
                                    <div class="col-4 col-sm-2">
                                        <button type="button" style="float:right" class="btn btn-block btn-primary btn-sm " onclick="javascript:location.href='/Outward/Create'"><i class="fa fa-plus"></i> New</button>
                                    </div>
                                }
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped" data-page-length='50'>
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>
                                            Invoice Number
                                        </th>

                                        <th>
                                            Invoice Date
                                        </th>

                                        <th>
                                            Customer Name
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        @*<th>
                                            Created On
                                        </th>
                                        <th>
                                            Created By
                                        </th>
                                        <th>
                                            Modified On
                                        </th>
                                        <th>
                                            Modified By
                                        </th>*@

                                        @*<th>
                                                                                Is Active?
                                                                            </th>
                                                                            <th>
                                                Created On
                                            </th>
                                            <th>
                                                Created By
                                            </th>
                                            <th>
                                                Modified On
                                            </th>
                                            <th>
                                                Modified By
                                            </th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>

                                                <button type="button" class="btn btn-primary btn-xs" title="Edit" onclick="javascript:location.href='/Outward/Edit/@item.Id'">
                                                    @if (currentUser.UserRoles.Any(wh => wh.RoleName == "Store Admin"))
                                                    {
                                                        <i class="far fa-edit"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="far fa-eye"></i>
                                                    }
                                                </button>
                                                @*<button type="button" class="btn btn-success btn-xs" title="View" onclick="javascript:location.href='/Admin/User/Details/@item.Id'"><i class="fas fa-eye"></i></button>*@


                                                @*@if (item.IsActive == true)
                                                    {

                                                        <button type="button" class="btn btn-danger btn-xs" title="De-ctivate" onclick="fnDeActivate(@item.ItemId)"><i class="far fa-trash-alt"></i></button>

                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-danger btn-xs" title="Activate" onclick="fnActivate(@item.ItemId)"><i class="far fa-trash-alt"></i></button>

                                                    }*@

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InvoiceNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InvoiceDate)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Comments)
                                            </td>
                                            <!--<td>
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedOn))-->
                                                @*@Html.DisplayFor(modelItem => item.CreatedOn)*@
                                            <!--</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedBy)
                                            </td>

                                            <td>-->
                                                @*@Html.DisplayFor(modelItem => item.ModifiedOn)*@
                                                <!--@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ModifiedOn))
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ModifiedBy)
                                            </td>-->

                                            @*<td>
                                                    @if (item.IsActive)
                                                    {
                                                        <span>Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span>De-Active</span>
                                                    }

                                                </td>*@
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.CreatedOn)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.User.FullName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.User1.FullName)
                                                </td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": false,
            // "buttons": ["excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });



    function fnActivate(id) {
        $.ajax({
            type: "GET",
            url: "/Inward/Activate/" + id,
            //data: JSON.stringify(Register),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.status == "Success") {
                    alert(data.message);
                    window.location.href = data.redirectURL;
                }
                //else {
                //    alert(data.message);
                //}

            },
            error: function () {
                alert("Error occured!!  " + data.message)
            }
        });
    }

    function fnDeActivate(id) {
        $.ajax({
            type: "GET",
            url: "/Inward/DeActivate/" + id,
            //data: JSON.stringify(Register),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.status == "Success") {
                    alert(data.message);
                    window.location.href = data.redirectURL;
                }
                //else {
                //    alert(data.message);
                //}

            },
            error: function () {
                alert("Error occured!!  " + data.message)
            }
        });
    }


    $("#mnuOutwardList").addClass("active");
    var parentMenu = $("#mnuOutwardList").parent().parent().parent();

    parentMenu.attr("class", "nav-item menu-is-opening menu-open");
    parentMenu.find("ul").each(function () {

        $(this).attr("style", "display:block");
    });
</script>
