@model DBOperation.UserRole

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    textarea {
        width: 100% !important;
        border: 1px solid #ced4da !important;
        border-radius: .25rem !important;
        padding: .375rem .75rem !important;
    }
</style>
<!-- Bootstrap4 Duallistbox -->
<link rel="stylesheet" href="~/content/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
<!-- Bootstrap4 Duallistbox -->
<script src="~/content/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Admin</a></li>
                        <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">User Role Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="quickForm">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="status">User Name</label>
                                            @Html.DropDownList("Users", null, htmlAttributes: new { @class = "form-control select2", @id = "ddlUsers", @onChange = "fnUserChange()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Select Roles</label>
                                            @Html.DropDownList("AvailableRoles", null, htmlAttributes: new { @class = "form-control", @id = "lstBox1", @multiple = "multiple" })

                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group" style="text-align:center">
                                            <button type="button" class="btn btn-success btn" id="btnAllRight"><i class="fa fa-arrow-alt-circle-down"></i>Add All</button>
                                            <button type="button" class="btn btn-success btn" id="btnRight"><i class="fa fa-arrow-alt-circle-down"></i>Add</button>
                                            <button type="button" class="btn btn-danger btn" id="btnLeft"><i class="fa fa-arrow-alt-circle-up"></i> Remove</button>
                                            <button type="button" class="btn btn-danger btn" id="btnAllLeft"><i class="fa fa-arrow-alt-circle-up"></i> Remove All</button>
                                        </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Selected Roles</label>
                                                @Html.DropDownList("AssignedRoles", null, htmlAttributes: new { @class = "form-control", @id = "lstBox2", @multiple = "multiple" })

                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.card-body -->
                            @*<div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="status">User Name</label>
                                                @Html.DropDownList("Users", null, htmlAttributes: new { @class = "form-control select2", @id = "ddlUsers", @onChange = "fnStatusChange()" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="FullName">Available Roles</label>
                                                @Html.DropDownList("AvailableRoles", null, htmlAttributes: new { @class = "form-control select2", @id = "ddlAvailableRoles", @onChange = "fnStatusChange()" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="FullName">Assigned Roles</label>
                                                @Html.DropDownList("AvailableRoles", null, htmlAttributes: new { @class = "form-control select2", @id = "ddlAssignedRoles", @onChange = "fnStatusChange()" })
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-danger">Cancel</button>
                                <button type="button" class="btn btn-outline-secondary" onclick="#" id="btnBack">Back to List</button>
                            </div>

                        </form>
                    </div>
                    <!-- /.card -->
                </div>

                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script>

    //Bootstrap Duallistbox
    /*$('.duallistbox').bootstrapDualListbox()*/

    var selectedRoles=[];
    $(document).ready(function () {
        $("#btnRight").click(function (e) {
            var selectedOpts = $("#lstBox1 option:selected");
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $("#lstBox2").append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });
        $("#btnAllRight").click(function (e) {
            var selectedOpts = $("#lstBox1 option");
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $("#lstBox2").append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });
        $("#btnLeft").click(function (e) {
            var selectedOpts = $("#lstBox2 option:selected");
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $("#lstBox1").append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });
        $("#btnAllLeft").click(function (e) {
            var selectedOpts = $("#lstBox2 option");
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $("#lstBox1").append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });

        $("#lstBox2").on('change', function () {
            selectedRoles.splice(0, arr.length);
            
            $("#lstBox2 option").each(function (i) {
                selectedRoles.push($(this).val());
            });
            
        })
    });
   
    function fnUserChange() {
        
        fnLoadUserRoles($('#ddlUsers').val());
    }

    $(window).on('load', function () {

        if ('@ViewBag.AccessLevel' == "View") {
            $('#quickForm :input').each(function () {
                
                if ($(this).attr('Id') != 'btnBack') {
                    
                    $(this).prop('disabled', true);
                }
            });
        }
    });


    $(function () {
        //
        $.validator.setDefaults({
            submitHandler: function () {
                
              
                fnSubmitUserRoleDetails();
            }
        });
        $('#quickForm').validate({

            rules: {
                saleDate: {
                    required: true,
                },
                clientName: {
                    required: true,
                },
            },
            messages: {
                saleDate: {
                    required: "Please enter a email address",
                },
                clientName: {
                    required: "Please provide a password",
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });


    function fnSubmitUserRoleDetails() {

        selectedRoles.splice(0, selectedRoles.length);
        
        $("#lstBox2 option").each(function (i) {
            selectedRoles.push($(this).val());
        });
        
        var UserRoleData = {
            UserId: $('#ddlUsers').val(),
            SelectedRoles: selectedRoles
        };
        
        $.ajax({
            type: "POST",
            url: "/Admin/UserRoles/Create",
            data: JSON.stringify(UserRoleData),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.status == "Success") {
                    alert(data.message);
                    window.location.href = data.redirectURL;
                }
                else {
                    alert(data.message);
                }
            },
            error: function () {
                alert("Error occured!!  " + data.message)
            }
        });
    }

    function fnLoadUserRoles(userId) {
        window.location.href = "/Admin/UserRoles/Create?userId=" + userId;
    }
    $("#mnuRoleMapping").addClass("active");
    var parentMenu = $("#mnuRoleMapping").parent().parent().parent();
    
    parentMenu.attr("class", "nav-item menu-is-opening menu-open");
    parentMenu.find("ul").each(function () {
        
        $(this).attr("style", "display:block");
    });
</script>


