@model IEnumerable<DBOperation.SaleActivity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var currentUser = (ClientManager.Models.UserDetails)Session["UserDetails"];
    string[] superroles = { "Super User", "Sales Engineer", "Sales Manager" };
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sales</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Sales</a></li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-4 col-sm-8">
                                    <h3 class="card-title">List of sales record <a href="javascript:fnSearch('link')"> <span id="lblSalesPersonName"> </span> </a> (Closed Total)</h3>
                                </div>
                                @if (currentUser.UserRoles.Any(wh => superroles.Contains(wh.RoleName)))
                                {
                                    <div class="col-4 col-sm-2">
                                        <button type="button" style="float:right" class="btn btn-block btn-primary btn-sm " onclick="javascript:fnToggleAdvSearch('1')"><i class="fa fa-search"></i> Search</button>
                                    </div>
                                    <div class="col-4 col-sm-2">
                                        <button type="button" style="float:right" class="btn btn-block btn-primary btn-sm " onclick="javascript:location.href='@Url.Action("Create", "SaleActivities")'"><i class="fa fa-plus"></i> New</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-4 col-sm-2">
                                    </div>
                                    <div class="col-4 col-sm-2">
                                        <button type="button" style="float:right" class="btn btn-block btn-primary btn-sm " onclick="javascript:fnToggleAdvSearch('1')"><i class="fa fa-search"></i> Search</button>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="pnlAdvSearch">
                                <div class="card-body" style="background-color:whitesmoke">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="callDateFrom">Call Date From</label>
                                                <div class="input-group date" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#txtCallDateFrom" name="callDateFrom" id="txtCallDateFrom">
                                                    <div class="input-group-append" data-target="#txtCallDateFrom" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="callDateTo">Call Date To</label>
                                                <div class="input-group date" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#txtCallDateTo" name="callDateTo" id="txtCallDateTo">
                                                    <div class="input-group-append" data-target="#txtCallDateTo" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="Month">Month</label>
                                                @Html.DropDownList("Months", null, htmlAttributes: new { @class = "form-control select2", @id = "ddlMonths" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="Year">Year</label>
                                                @Html.DropDownList("Years", null, htmlAttributes: new { @class = "form-control select2", @id = "ddlYears" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="Status">Status</label>
                                                <input type="hidden" name="hdnStatus" />
                                                @Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control select2", @id = "ddlStatus", @onChange = "fnStatusChange()" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="CustomerName">Customer Name</label>
                                                <input type="text" class="form-control" id="txtCustomerName" name="CustomerName">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="ProductName">Product Name</label>
                                                <input type="text" class="form-control" id="txtProductName" name="ProductName">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="SalesPerson">Sales Person</label>
                                                <input type="hidden" name="hdnSalesPerson" />
                                                @Html.DropDownList("SalesPerson", null, htmlAttributes: new { @class = "form-control select2", @id = "ddlSalesPerson", @onChange = "fnSalesPersonChange()" })
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary btn-sm" onclick="javascript:fnSearch('')"> <i class="fa fa-search"></i> Search</button>
                                        <button type="button" onclick="javascript:fnClearSearch()" class="btn btn-danger btn-sm">Clear</button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm" onclick="javascript:fnToggleAdvSearch('0')">Hide</button>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div id="gridView">
                                @Html.Partial("ListView", Model)
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script>
    $('#pnlAdvSearch').hide();
    function fnSearch(searchFrom) {
        fnSalesPersonChange();
        var selPerson = "-1";
        if ($("input[name=hdnSalesPerson]").val() > 0)
            selPerson = $("input[name=hdnSalesPerson]").val();
        var actionUrl = "";
        if (searchFrom == "" && searchFrom != undefined) {
            actionUrl = "/SaleActivities/ListView?&status=" + $("input[name=hdnStatus]").val() + "&year=" + $('#ddlYears').val() + "&month=" + $('#ddlMonths').val() + "&productName=" + $('#txtProductName').val() + "&customerName=" + $('#txtCustomerName').val() + "&callDateFrom=" + $('#txtCallDateFrom').val() + "&callDateTo=" + $('#txtCallDateTo').val() + "&salesPerson=" + selPerson + "&searchFrom=advSearch";
        }
        else {
            actionUrl = "/SaleActivities/ListView?&status=6&searchFrom=" + searchFrom;
        }

        $('#gridView').html('');
        $.ajax({
            url: actionUrl,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#gridView').html(result);

                //$('#lblSalesPersonName').text(' for ' + $('#ddlSalesPerson option:selected').text() + ' : ' + '@ViewBag.TotalSalesBySalesPerson');
               // @ViewBag.SelectedSalesPerson = $('#ddlSalesPerson option:selected').text();
            },
            error: function (xhr, status) {
                alert(status);
            }
        })
    }

    function fnSalesPersonChange() {

        $("input[name=hdnSalesPerson]").val($('#ddlSalesPerson').val());
    }

    function fnStatusChange() {

        $("input[name=hdnStatus]").val($('#ddlStatus').val());
    }

    function fnToggleAdvSearch(action) {

        if (action == '1') {
            $('#pnlAdvSearch').show();
        }
        else {
            $('#pnlAdvSearch').hide();
        }
    }

    $('#txtCallDateTo').datetimepicker({
        format: 'DD/MM/YYYY'
    });
    $('#txtCallDateFrom').datetimepicker({
        format: 'DD/MM/YYYY'
    });

    function fnClearSearch() {

        $('#ddlYears').val('0');
        $('#ddlMonths').val('0');
        $('#txtProductName').val('');
        $('#txtCustomerName').val('');
        $('#ddlSalesPerson').val(0);
        $('#ddlStatus').val(0);
        $('#txtCallDateFrom').val('');
        $('#txtCallDateTo').val('');

    }

    $(window).on('load', function () {
        const params = new URLSearchParams(window.location.search)

        var searchQuery = "status="

        if (params.has('status')) {
            searchQuery += params.get('status');
        }
        if (params.has('searchFrom')) {
            searchQuery += "&searchFrom=" + params.get('searchFrom');
        }
        var actionUrl = "/SaleActivities/ListView?" + searchQuery;

        $('#gridView').html('');

        $.ajax({
            url: actionUrl,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#gridView').html(result);
            },
            error: function (xhr, status) {
                alert(status);
            }
        })
    });

    //$(window).load(function () {
    //    const params = new URLSearchParams(window.location.search)
    //
    //    var searchQuery = "status="

    //    if (params.has('status')) {
    //        searchQuery += params.get('status');
    //    }

    //    var actionUrl = "/SaleActivities/ListView?" + searchQuery;

    //    $('#gridView').html('');

    //    $.ajax({
    //        url: actionUrl,
    //        contentType: 'application/html; charset=utf-8',
    //        type: 'GET',
    //        dataType: 'html',
    //        success: function (result) {
    //            $('#gridView').html(result);
    //        },
    //        error: function (xhr, status) {
    //            alert(status);
    //        }
    //    })

    //});
  //  $('#lblSalesPersonName').text(' of ' + $('#ddlSalesPerson option:selected').text());
 $('#lblSalesPersonName').text($('#ddlSalesPerson option:selected').text() + ' : ' + '@ViewBag.TotalSalesBySalesPerson');
    //$('#lblSalesPersonName').html(' for ' + '<span style="font-weight:bold; color:green; font-size:15px !important">' + $('#ddlSalesPerson option:selected').text() + ' : ' + '@ViewBag.TotalSalesBySalesPerson' + '</span>');
    $("#mnuSalesList").addClass("active");
    var parentMenu = $("#mnuSalesList").parent().parent().parent();

    parentMenu.attr("class", "nav-item menu-is-opening menu-open");
    parentMenu.find("ul").each(function () {

        $(this).attr("style", "display:block");
    });
</script>