@model IEnumerable<DBOperation.Document>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ClientManager.Models.UserDetails userData = (ClientManager.Models.UserDetails)this.Session["UserDetails"];
}

<style>
    table tr td:first-child {
        white-space: nowrap;
    }
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Documents</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Document Management</a></li>
                        <li class="breadcrumb-item"><a href="#">Documents</a></li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-4 col-sm-8">
                                    <h3 class="card-title">Documents List</h3>
                                </div>
                                <div class="col-4 col-sm-2">
                                </div>
                                @*<div class="col-4 col-sm-2">
                                        <button type="button" style="float:right" class="btn btn-block btn-primary btn-sm " onclick="javascript:fnToggleAdvSearch('1')"><i class="fa fa-search"></i> Adv. Search</button>
                                    </div>*@
                                <div class="col-4 col-sm-2">
                                    <button type="button" style="float:right" class="btn btn-block btn-primary btn-sm " onclick="javascript:location.href='/Documents/Create'"><i class="fa fa-plus"></i> New</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>
                                            Document Source
                                        </th>
                                        <th>
                                            Document Type
                                        </th>
                                        <th>
                                            FileName
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Created On
                                        </th>
                                        <th>
                                            Created By
                                        </th>
                                        <th>
                                            Modified On
                                        </th>
                                        <th>
                                            Modified By
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-xs" title="Edit" onclick="javascript:location.href='/Documents/Edit/@item.Id'"><i class="far fa-edit"></i></button>
                                                @*<button type="button" class="btn btn-outline-success btn-xs" title="Approve" onclick="fnApprove(@item.Id,'Approved')"><i class="far fa-arrow-alt-circle-right"></i></button>
                                                <button type="button" class="btn btn-outline-success btn-xs" title="Verify" onclick="fnVerify(@item.Id,'Verified')"><i class="far fa-arrow-alt-circle-left"></i></button>*@
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DocumentSource)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DocumentType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FileName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedOn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.User.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ModifiedOn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.User1.FullName)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
           // "buttons": ["excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });



    function fnActivateUser(id) {
        $.ajax({
            type: "GET",
            url: "/Admin/User/Activate/" + id,
            //data: JSON.stringify(Register),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.status == "Success") {
                    alert(data.message);
                    window.location.href = data.redirectURL;
                }
                //else {
                //    alert(data.message);
                //}

            },
            error: function () {
                alert("Error occured!!  " + data.message)
            }
        });
    }

    function fnApprove(id, status) {
        $.ajax({
            type: "GET",
            url: "/PettyCashes/PettyCashApprove?id=" + id + "&status=" + status,
            //data: JSON.stringify(Register),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.status == "Success") {
                    alert(data.message);
                    window.location.href = data.redirectURL;
                }
                //else {
                //    alert(data.message);
                //}

            },
            error: function () {
                alert("Error occured!!  " + data.message)
            }
        });
    }
    function fnVerify(id, status) {
        $.ajax({
            type: "GET",
            url: "/PettyCashes/PettyCashVerify?id=" + id + "&status=" + status,
            //data: JSON.stringify(Register),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.status == "Success") {
                    alert(data.message);
                    window.location.href = data.redirectURL;
                }
                //else {
                //    alert(data.message);
                //}

            },
            error: function () {
                alert("Error occured!!  " + data.message)
            }
        });
    }
    $("#mnuDocumentList").addClass("active");
    var parentMenu = $("#mnuDocumentList").parent().parent().parent();
    
    parentMenu.attr("class", "nav-item menu-is-opening menu-open");
    parentMenu.find("ul").each(function () {
        
        $(this).attr("style", "display:block");
    });
</script>